.accountContent{
    width: 75%;
    padding-left: 1.5rem;

    .titleBar {
        background-color: #323232;    
        color: #fff;
        font-size: 0.85rem;
        font-weight: 500;
        padding: 1.1rem;
        margin-bottom: 1rem;    
    }
}