.imagePreview{
    max-width: 200px;
    border: 2px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    position: relative;
    margin: 10px;

    &:empty{
        display: none;
    }

    .delete {
        position: absolute;
        top: -13px;
        right: -10px;
        color: #fff;
        background-color: #f00;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        cursor: pointer;
    }

    img{
        max-width: 100%;
        height: auto;
    }
}