.paymentsListWrap {
    margin-top: 2rem;

    .paymentsListsWrap{
        margin-top: 1.5rem;

        .payment {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            border: 1px solid #d7d7d7;
            padding: 0.5rem;
    
            .react-fancybox{
                cursor: pointer;
    
                .thumbnail {
                    width: 50%;
    
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}