.paymentsListWrap {
    margin-top: 2rem;

    .payment {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        border: 1px solid #d7d7d7;
        padding: 1rem;

        .react-fancybox{
            cursor: pointer;
        }
    }
}