.contactUsWrap {
    width: 40%;
    background-color: #445aeb;
    color: #fff;
    padding: 2rem 10rem 2rem 3rem;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .form-control {
        border-radius: 0;
        height: 50px;

        &#message {
            height: 100px;
            padding: 1rem;        
        }
    }

    .btn.submitBtn {
        background-color: #1c266b;
    }
    
}