.contactUsWrap {
    width: 40%;
    background-color: #445aeb;
    color: #fff;
    padding: 2rem 10rem 2rem 3rem;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .form-control {
        border-radius: 0;
        height: 50px;

        &#message {
            height: 100px;
            padding: 1rem;        
        }
    }

    .btn.submitBtn {
        background-color: #1c266b;
    }

    .form-group{
        .Select{
            color: #000;
            
            .Select-control {
                height: auto;
                border-radius: 0;
                cursor: pointer;
    
                .Select-multi-value-wrapper {
                    height: 48px;
    
                    .Select-placeholder {
                        display: flex;
                        align-items: center;
                    }
    
                    .Select-value {
                        display: flex;
                        align-items: center;
                        color: #000;
                    }
                }
            }
        }
        
    }
    
}