.latestListingWrap {
    background-color: #f8f8f8;
    padding: 3rem 0;

    .container {
        padding: 0 1rem !important;

        h2 {
            margin-bottom: 2rem;
            color: #525252;
            font-size: 1.8rem;

            span{
                color: #3284d8;
            }
        }
    }
}