.listingItem {
    width: 32.5%;
    position: relative;
    border: 1px solid #dadada;
    cursor: pointer;

    .topWrap {
        background-color: #ededed;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        color: #454545;
        font-weight: 600;
        font-size: 0.85rem;

        img {
            max-width: 35px;
            width: 100%;
            margin-right: 0.5rem;
        }
    }

    .content { 
        padding: 1rem;
        font-size: 0.9rem;
        font-weight: 500;

        h3 {
            color: #343434;
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
    }

    .bottomWrap {
        background-color: #dddddd;
        justify-content: space-between;

        .time{
            flex: 0 0 80%;
            max-width: 80%;
            padding: 0.5rem 1rem;
            color: #444444;
            font-weight: 600;
            font-size: 0.85rem;

            .time {
                padding: 0;
            }
        }

        .type{
            background-color: #445be9;
            flex: 0 0 20%;
            max-width: 20%;
            justify-content: center;
            display: flex;
            align-items: center;
            padding: 0.5rem 0;
            color: #fff;
            font-weight: 600;
            font-size: 0.85rem;
            text-transform: uppercase;
        }
    }

    a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;    
    }
}