.searchPageWrap{
    .mainBannerWrap {
        min-height: 400px;

        .searchWrap {
            margin-top: 6rem;
        }
    }

    .container {
        max-width: 1400px;
        padding: 2rem 1rem;
    }
}