.sidebarWrap{
    width: 25%;

    h3 {
        background-color: #45454c;
        margin-bottom: 0;
        color: #fff;
        font-weight: 500;
        font-size: 0.9rem;
        padding: 1.2rem;
    }

    .list-group-item {
        background-color: #d8d7dd;
        border-radius: 0;
        color: #45454c;
        font-weight: 500;
        font-size: 0.9rem;
        cursor: pointer;

        .count {
            font-weight: 400;
        }

        &:nth-child(2n) {
            background-color: #c4c4cc;
        }

        &.active {
            border-color: rgba(0,0,0,.125);
            background-color: #4359ea;
            color: #fff;
        }

        &.btnWrap {
            display: flex;
            padding: 0;

            .btn {
                background-color:  #445be9;            
                border-radius: 0;            
                color: #fff;
                font-weight: 500;
                margin: 0;
                padding: 0.75rem 1.5rem;
                cursor: pointer;
                flex: 1;
                font-size: 1rem;

                &.offer {
                    background-color: #3141a3;
                }
            }
        }
    }
}