.footerWrap{
    .topFooterWrap{
        background-color: #111111;

        .footerAbout {
            color: #8e8e8e;
            font-size: 0.85rem;
            line-height: 1.8;

            .nav {
                justify-content: space-between;

                .nav-link{
                    color: #505050;
                    text-transform: uppercase;
                    font-size: 0.85rem;
                    font-weight: 600;
                }
            }
        }

        .footerSocial {
            .navbar-nav.socialMedia {
                flex-direction: revert;
                justify-content: space-between;
                
                .nav-link{
                    color: #cdcdcd;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    font-size: 0.9rem;
                    border: 1px solid #cdcdcd;
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    -ms-border-radius: 100%;
                    -o-border-radius: 100%;
                }
            }

            .copyright {
                margin-top: 2rem;
                text-align: center;
                color: #505050;
                font-weight: 600;
                font-size: 0.85rem;
            }
        }
    }

    .bottomFooterWrap{
        .container{
            padding: 1rem !important;

            .creator {
                color: #111;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.85rem;
            }
        }
    }
}