.testimonialsWrap{
    .testimonials{
        position: relative;
        background-color: #1f2c81;
        width: 60%;
        padding: 4rem 10rem;
        color: #fff;

        *{
            position: relative;
            z-index: 5;
        }

        .imgOverlay {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            background-size: cover;
            background-position: center;
            opacity: 0.38;
        }

        h3 {
            font-weight: 500;
            font-size: 1.4rem;
            margin-bottom: 2rem;        
        }
    }
}