.searchForm {
    display: flex;
    justify-content: space-between;

    .Select-multi-value-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .Select-aria-only {
        display: none;
    }

    .labelWrap {
        color: #fff;
        background-color: #4359ea;
        display: inline-flex;
        align-items: center;
        padding: 0 2rem;
        font-weight: 600;
        font-size: 1.2rem;
    }

    .form-group {
        margin-bottom: 0;
        background-color:#e3e4e8;
        width: 20%;
        padding: 0.5rem;
        display: flex;
        align-items: center;

        &.item {
            width: 40%;

            .form-control {
                background-color: transparent !important;
                border-radius: 0;
                border: none !important;
                box-shadow: 0 0 0 !important;
                height: 63px;
                color: #3d3d3f;
                font-weight: 600;
                font-size: 1.2rem;

                &::placeholder {
                    color: #3d3d3f;
                }
            }
        }

        .Select {

            .Select-control {
                background-color: transparent;
                border: none;
                height: 62px;
                box-shadow: 0 0 0 !important;

                .Select-placeholder {
                    display: flex;
                    align-items: center;
                    color: #3d3d3f;
                    font-weight: 600;
                }

                .Select-input {
                    width: 100%;
                    height: 62px;

                    input {
                        height: 62px;
                        width: 100% !important;
                    }
                }

                .Select-value {
                    display: flex;
                    align-items: center;
                    color: #3d3d3f;
                    font-weight: 600;
                }
            }
        }
    }

    .input-group {
        width: 30%;
        background-color:#d9d8dd;
        display: flex;
        align-items: center;

        .input-group-text {
            background-color: #d9d8dd;
            border: none;
            color: #363e6e;
        }

        &.category {
            width: 20%;

            #category{
                background-color: transparent !important;
                border-radius: 0;
                border: none !important;
                box-shadow: 0 0 0 !important;
                height: 79px;
                color: #3d3d3f;
                font-weight: 600;
                font-size: 1.2rem;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                cursor: pointer;
            }
        }

        .Select {
            flex: 1;
            padding: 0.5rem;

            .Select-control {
                background-color: transparent;
                border: none;
                height: 62px;
                box-shadow: 0 0 0 !important;

                .Select-placeholder {
                    display: flex;
                    align-items: center;
                    color: #3d3d3f;
                    font-weight: 600;
                }

                .Select-input {
                    width: 100%;
                    height: 1px;

                    input {
                        height: 1px;
                        width: 100% !important;
                    }
                }

                .Select-value {
                    display: flex;
                    align-items: center;
                    color: #3d3d3f;
                    font-weight: 600;
                }
            }

            &.is-open{
                .Select-control{
                    .Select-input {
                        height: 1px;
    
                        input {
                            height: 1px;
                        }
                    }
                }
            }
        }
    }

    .submitWrap {
        background-color: #e6e6eb;
        padding: 0.5rem;

        .btn.searchSubmit {
            background-color: #2643ff;
            color: #fff;
            font-family: "Lato";
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.2rem;
            padding: 1rem 2rem;
            height: 100%;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
        }
    }

    .select__single-value {
        color: #3d3d3f;
        font-weight: 600;
    }
}