.searchResultsWrap {
    width: 75%;
    padding-left: 1.5rem;

    .countBar {
        background-color: #323232;    
        color: #fff;
        font-size: 0.85rem;
        font-weight: 500;
        padding: 1.1rem;
        margin-bottom: 1rem;    
    }

    .searchItemsWrap{
        min-height: 190px;

        > h2 {
            margin: auto;
            text-transform: uppercase;
            font-weight: 900;
            color: #acacac;
        }
    }
}