.modalItemWrap {
    position: relative;
    width: 100%;

    .topWrap {
        width: 100%;
        background-color: #ededed;
        
        .country{
            flex: 0 0 40%;
            max-width: 40%;
            justify-content: center;
            display: flex;
            align-items: center;
            padding: 0.5rem 0;
            color: #454545;
            font-weight: 600;
            font-size: 0.85rem;

            img {
                max-width: 35px;
                width: 100%;
                margin-right: 0.5rem;
            }
        }

        .time{
            background-color: #dddddd;
            flex: 0 0 40%;
            max-width: 40%;
            padding: 0.5rem 1rem;
            color: #444444;
            font-weight: 600;
            font-size: 0.85rem;

            .time {
                padding: 0;
            }
        }

        .type{
            background-color: #445be9;
            flex: 0 0 20%;
            max-width: 20%;
            justify-content: center;
            display: flex;
            align-items: center;
            padding: 0.5rem 0;
            color: #fff;
            font-weight: 600;
            font-size: 0.85rem;
            text-transform: uppercase;
        }
    }

    .content { 
        border-left: 1px solid #dadada;
        border-right: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        padding: 1rem;
        font-size: 0.9rem;
        font-weight: 500;

        .singleSlider{
            width: 100;

            .item {
                min-height: 400px;
                background-size: cover;
                background-position: center;
            }
        }
    }

    .bottomWrap {
        background-color: #ddd;
        text-align: right;

        .btn.inqueryBtn {
            color: #fff;
            background-color: #000;
            border-radius: 0;
            padding: 0.75rem 3rem;
            cursor: pointer;
        }
    }
}