.btn.submitBtn {
    background-color: #2643ff;
    width: 100%;
    border-radius: 0;
    color: #fff;
    font-family: "Lato";
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 0.75rem 0;
}