.accountContent{
    .myAdsWrap{
        .advertisementWrap {
            margin-bottom: 1.5rem;

            .subTitle {
                margin-bottom: 1rem;
                background-color:  #eee;
                padding: 0.75rem 1rem;
                color: #484848;
            }

            .noResults {
                text-align: center;
                margin: 3rem 0;
                text-transform: uppercase;
                font-weight: 800;
                color: #d0d0d0;
            }
        }
    }
}