.form-group{
    position: relative;

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .inputfile + label {
        color: #d3394c;
        font-weight: 600;
        display: block;
        margin: auto;
        text-align: center;
        width: 200px;
        cursor: pointer;
    }
    
    .inputfile:focus + label,
    .inputfile.has-focus + label,
    .inputfile + label:hover {
        color: #722040;
    }
    
    .inputfile + label figure {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #d3394c;
        display: block;
        padding: 20px;
        margin: 0 auto 10px;
    }
    
    .inputfile:focus + label figure,
    .inputfile.has-focus + label figure,
    .inputfile + label:hover figure {
        background-color: #722040;
    }
    
    .inputfile + label svg {
        width: 100%;
        height: 100%;
        fill: #f1e5e6;
    }
}